{% extends 'task/layout.html' %}
{% load static %} {% load sass_tags %}


{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block main %}
{% include 'task/main.html' %}
{% endblock %}

{% block script %}
<script>
  const url_index = "{% url 'task:index' %}";
  const url_delete_item = "{% url 'task:delete_item' %}";
  const url_insert_content = "{% url 'task:insert_content' %}";
  const csrf = '{{ csrf_token }}';
</script>
<script type="module" src="{% static 'task/js/base.js' %}"></script>
{% endblock %}