<main class="flex">
  <div class="sidebar flex-col-center">
    <form action="{% url 'task:index' %}" method="POST">
      {% csrf_token %}
      {{ form.item }}
      <input type="submit" value="送出">
    </form>

    <div class="sort">
      <ol>
        {% for s in sort %}
          <li class="sort__li">
            <div id="sort_{{ s.id }}" class="sort__item flex-row-center" draggable="true">{{ s.item }}
            <span class="material-icons md-16">edit</span>
            </div>    
          </li>
        {% endfor %}
      </ol>
    </div>   
  </div>
  
  <div class="right-page">
  </div>
</main>