<main class="flex flex-row-center">
  <div class="sidebar">
    <form action="{% url 'task:index' %}" method="POST">
      {% csrf_token %}
      {{ form.item }}
      <input type="submit" value="送出">
    </form>

    <div class="sort">
      <ol class="flex flex-col-center">
        {% for s in sort %}
          <li id="div{{ s.id }}" data-item="{{ s.item }}" data-sort="{{ s.order }}" class="sort__item flex-row-center">{{ s.item }}
            <!-- <span class="material-icons md-16">edit</span> -->
          </li>
        {% endfor %}
      </ol>
    </div>   
  </div>
  <section>
  </section>
</main>