/* Table of contents

1. global styles

2. typography

3. components

*/
.term__form {
  padding: 0.5rem 1.5rem;
  border: 1px solid #d92626;
  border-radius: 50px;
  text-decoration: none;
  color: #d92626; }
  .term__form:hover {
    color: red; }

.term__add + .hint {
  margin-top: 2px;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  color: white;
  background-color: black; }

.term__input, .term {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout, .term {
  padding: 2rem 2rem; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

a {
  text-align: center; }
  a:link, a:visited, a:active, a:hover {
    text-decoration: none; }

.term a {
  justify-content: center;
  width: max-content;
  margin-bottom: 1.25rem; }

.term__list {
  color: black; }

.term__add {
  position: relative;
  color: limegreen; }
  .term__add.active {
    color: red;
    transform: rotate(45deg); }
  .term__add + .hint {
    position: absolute;
    visibility: hidden; }
  .term__add:hover {
    color: limegreen; }
    .term__add:hover + .hint {
      visibility: visible; }

.term__input {
  position: relative;
  visibility: hidden; }
  .term__input.active {
    visibility: visible; }
  .term__input .close {
    position: absolute;
    right: -0.9rem;
    top: -0.9rem; }
  .term__input input {
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid limegreen;
    padding: 0.5rem 1.5rem;
    outline: none; }
  .term__input a {
    margin-top: 5px;
    width: 100%;
    color: white;
    background-color: #b3b3b3; }
    .term__input a:hover {
      background-color: gray; }

.js-add-category + .hint {
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  font-size: 0.5rem;
  color: white;
  background-color: black;
  width: max-content;
  visibility: hidden; }

.js-add-category:hover + .hint {
  visibility: visible; }

.layout__pad .mask {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b3b3b3;
  height: 100vh;
  width: 100vw;
  opacity: 0.5; }
  .layout__pad .mask.show {
    visibility: visible; }

.layout__pad .outerwrap {
  visibility: hidden;
  position: absolute;
  width: 15rem;
  background-color: white; }
  .layout__pad .outerwrap.show {
    visibility: visible; }
  .layout__pad .outerwrap .wrap {
    width: 100%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem; }
    .layout__pad .outerwrap .wrap input {
      width: max-content; }
    .layout__pad .outerwrap .wrap .list {
      display: inline-block; }
  .layout__pad .outerwrap.show {
    visibility: visible; }

.dev {
  position: fixed;
  right: 0.5rem; }
  .dev__mode {
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    width: 3rem;
    background-color: #b3b3b3; }
    .dev__mode.active {
      background-color: limegreen; }
      .dev__mode.active svg {
        transform: translateX(1.2rem); }

/* #############
     typography
     ############# */
/* #############
   global styles
   ############# */

/*# sourceMappingURL=style.css.map */