html {
  box-sizing: border-box;
  ol {
    list-style: none;
  }
}

.flex {
  display: flex;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;   
}