@mixin default-maring {
  // margin: 1rem 2.5rem;
}

@mixin default-link {
  padding: 0.5rem 1.5rem;
  border: 1px solid hsl(0, 70%, 50%);
  border-radius: 50px;
  text-decoration: none;
  color: hsl(0, 70%, 50%);

  &:hover {
    color: hsl(0, 100%, 50%);
  }
}

@mixin default-hint {
  margin-top: 2px;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  color: $white;
  background-color: $black;
}
