.page {
  // position: relative;
  &__serachwrap {
    margin-bottom: 1.25rem;
    position: relative;
    display: inline-block;
    input {
      @extend %default-input;
     
    }
    .js_icons_search {
      position: absolute;
      top: .4rem;
      right: .5rem;
      // right: .4rem;
    }
  }

  &__caption {
    color: white;
    background-color: $blue;
    padding: 2px 10px;
  }

  &__a {
    display: none;

    &.show {
      display: block;
    }
  }
}
