{% extends 'tools/layout.html' %} {% load static %} {% block main %}
<div class="row m-2">
  <div class="col-2">
    <input type="text" class="form-control intell-item">
    <div class=" d-grid mx-auto">
      <button class="btn btn-primary btn-sm my-2 js-item-add" data-target=".intell-item">加入</button>
    </div>
    <div class=" operate">
    </div>
    <div class="item-list">
      {% for item in items %}
      <div class="item-row row row-cols-auto">
        <div class="col item" data-id="{{ item.id}}">{{ item.tag }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-2" id="center">
    <button type="button" class="btn btn-outline-danger js-term-list" data-term="default">新增主題</button>
    {% for item in items %}
    <div class="term-list" data-term="{{ item.id }}">{{ item.tag }}</div>
    {% endfor %}
  </div>
  <div class="col">
    <div class="item-search-wrap">
      <input type="text" class="item-search">
      <div class="material-icons icons-search">
        search
      </div>
    </div>
    <div class="col-12 intellj">
      <div class="default">
        <div class="row align-items-center">
          <div class="col-3 fw-bold">主題</div>
          <div class="col-6"><input type="text" class="js question form-control"></div>
        </div>
        <div class="row align-items-center">
          <div class="col-3 fw-bold">HashTag</div>
          <div class="col-6">
            <input type="text" class="js tag form-control">
            <div class="choose-pad-container">
              <div class="choose-pad">
                <div class="row row-cols-auto m-0">
                  {% for item in items %}
                  <div class="col align-self-center"><input type="checkbox" value="{{ item.tag }}"
                      class="js-item-ckbox">
                  </div>
                  <div class="col" data-id="{{ item.id }}">{{ item.tag }}</div>
                  <div class="w-100"></div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
          <div class="js-pad-cancel"></div>
        </div>
        <div class="row align-items-center">
          <div class="col-3 fw-bold">方法</div>
          <div class="col-6"><textarea class="js answer form-control" rows="10"></textarea></div>
        </div>
        <div class="row">
          <div class="col-6 offset-3 text-end">
            <button type="button" class="btn btn-primary js-intell-insert">確定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}

<script src="{% static 'js/lib.js' %}"></script>
<script>
  function padHide() {
    $('.choose-pad-container').css({ 'z-index': '-1', 'visibility': 'hidden' });
    $('.js-pad-cancel').css('z-index', '-1');
  }

  j.click('.js-item-add', function (e) {
    let val = getTargetVal(e);
    if (!isEmpty(val))
      let itemArr = val.split(',')
    itemArr.forEach(function trm(item, index) {
      this[index] = capitalizeFirstLetter(item.trim());
    }, itemArr)
    data = { 'tag': JSON.stringify(itemArr) }
    $.ajax({
      url: "{% url 'insert_category' %}",
      method: "GET",
      data: data,
      success: (res) => {
        // for (let i of res) {
        //   log(i)
        //   let inner = `<div class="col item" data-id="${i.item_no}">${i.item}</div>`
        //   let element = `<div class="item-row row row-cols-auto">${inner}</div>`
        //   $('.item-list').append(element)
        //   $('.intell-item').val(null);
        // }
      },
      error: (msg) => { log(msg) }
    });
  })
  j.focus('.intellj', '.tag', function () {
    $('.choose-pad-container').css({ 'z-index': '2', 'visibility': 'visible' });
    $('.js-pad-cancel').css('z-index', '1');
  })

  j.click('.js-pad-cancel', padHide)
</script>
{% endblock %}
{% comment %}
{% block scripts %}
<script>


  $('.js-intell-insert').click(function () {
    q = $('.question').val()
    tag = $('.tag').val()
    ans = $('.answer').val()
    args = { 'q': q, 'tag': tag, 'ans': ans }
    $.ajax({
      url: "{{ url_for('intelligence', path='insert') }}",
      method: "GET",
      data: args,
      success: (res) => {
        alert(res)
      },
      error: (msg) => {
        alert(msg)
      }
    });
  })

  $('.js-item-add').click(function () {
    let val = $('.intell-item').val();
    if (isEmpty($('.intell-item').val())) return
    let itemArr = $('.intell-item').val().split(',')
    itemArr.forEach(function trm(item, index) {
      this[index] = capitalizeFirstLetter(item.trim());
    }, itemArr)

    data = { 'tag': JSON.stringify(itemArr) }
    $.ajax({
      url: "{% url 'insert_category' %}",
      method: "GET",
      data: data,
      success: (res) => {
        log(res)
        // for (let i of res) {
        //   log(i)
        //   let inner = `<div class="col item" data-id="${i.item_no}">${i.item}</div>`
        //   let element = `<div class="item-row row row-cols-auto">${inner}</div>`
        //   $('.item-list').append(element)
        //   $('.intell-item').val(null);
        // }
      },
      error: (msg) => { log(msg) }
    });
  })

  let delItem = []
  $('.item-list').on('click', '.item', function () {
    $(this).toggleClass('isSelected')
    if ($("[class~='isSelected']").length == 0) {
      $('.js-remove-btn').remove()
    }
    id = $(this).data('id')
    delItem.includes(id)
      ? delItem.splice(delItem.indexOf(id), 1)
      : delItem.push($(this).data('id'))
    $('.operate')
      .html($('.item-row:first').clone()
        .html('<button type="button" class="btn btn-sm btn-outline-danger js-remove-btn">remove</button>\
               <button type="button" class="btn btn-sm btn-outline-warning js-cancel-btn mx-2">cancel</button>\
              '))
    //  $('.item-row').clone().html('<button tpye="button" class="btn btn-sm btn-outline-danger js-remove-btn">remove</button>')
  })

  $('.operate').on('click', '.js-remove-btn', function () {
    data = { 'item': JSON.stringify(delItem) }
    $.ajax({
      url: "{{ url_for('intelligence', path='item-delete') }}",
      method: "GET",
      data: data,
      success: (res) => {
        $.map(delItem, function (i) {
          $("[data-id=" + i + "]").parent().remove()
          $('.js-remove-btn').remove()
        });
      },
      error: (msg) => {
        log(msg)
      }
    });
  })

  $('.operate').on('click', '.js-cancel-btn', function () {
    $('.js-remove-btn').remove()
    $('.item').removeClass('isSelected')
    $(this).remove()
  })

  let item_checked = []
  $('.js-item-ckbox').click(function () {
    val = $(this).val()
    item_checked.includes(val)
      ? item_checked.splice(item_checked.indexOf(val), 1)
      : item_checked.push(val)

    item_checked_str = '';
    for (let i in item_checked) {
      i == 0
        ? item_checked_str += item_checked[i]
        : item_checked_str += `, ${item_checked[i]}`
    }
    $('.tag').val(item_checked_str)
    // $(this).val()
    // log($('input:checked').length)
  })
  //js-item-submit
  $('.intellj').on('click', '.js-item-submit', function () {
    padHide();
  })



  $('.choose-pad').blur(function () {
    $('.choose-pad-container').removeClass('show');
  })

  $('.term-list, .js-term-list').click(function () {
    val = $(this).data('term')
    data = { 'term': val }
    $.ajax({
      url: "{{ url_for('intelligence', path='term-list') }}",
      method: "GET",
      data: data,
      success: (res) => {
        if (res == 'default') {
          $('.default').siblings().remove()
          $('.default').show();
          return
        }
        $('.default').hide()
        $('.default').siblings().remove()
        $('.intellj').append(res)
        // if(k == 'html')
        //   log(res[k])
        // let test = $('.test10').html();
        // $('.intellj').html('')
        // for (let i of res) {
        //   console.log(i)
        //   $('.intellj').append(`<div class="col-12">${i['question']}</div><div class="col-12">${i['answer']}</div>`)
        // }
        // hidden-template
        // $('.intellj').html(res)

      },
      error: (msg) => {
        alert(msg)
      }
    });
  })




</script>
{% endblock %}
{% endcomment %}