{% extends 'tools/layout.html' %} {% load static %} {% block main %}

<main>{% include 'tools/index/default.html' %}</main>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  var url_insert_category = "{% url 'insert_category' %}";
  var url_term_page = "{% url 'term_page' %}";
  var url_insert_question = "{% url 'insert_question' %}";
  var url_select_question = "{% url 'select_question' %}";
  var csrf = "{{ csrf_token }}";
</script>
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}
