{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    {% load sass_tags %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% sass_src 'default/scss/style.scss' %}"
      type="text/css"
    />
    <title>Document</title>
  </head>

  <body id="bd">
    {% block nav %}{% endblock %}
    <!-- <div class="dev">
      <span>Dev Mode</span>
      <span class="dev__mode">
        <svg height="25" width="25">
          <circle
            class="js-dev-circle"
            cx="12"
            cy="12"
            r="9"
            stroke-width="1"
            fill="white"
          />
        </svg>
      </span>
    </div> -->
    {% block main %}{% endblock %} {% block scripts %}{% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- <script type="module" src="{% static 'js/script.js' %}"></script> -->
    <script type="module" src="{% static 'js/index.js' %}"></script>

  </body>
</html>
