<div class="page">
  <div class="page__serachwrap">
    <input type="text" class="page__search js_page_search" />
    <div class="material-icons js_icons_search" data-target="[.term-search]">
      search
    </div>
  </div>
  <div class="search__page">
    <h3 class="page__caption">{{ term|capfirst }}</h3>
    <ul>
      {% for i in q_collects %}
      <li class="">
        <h5 class="col-12 page__q">{{ i.questions }}</h5>
        <div class="col-12 page__a">{{ i.answers|safe }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
