<div class="term_page">
  <div class="item-search-wrap">
    <input type="text" class="item-search">
    <div class="material-icons icons-search" data-target=".item-search">search</div>
  </div>
  <h1>{{ term }}</h1>
  <ul>
    {% for i in q_collects %}
    <li class="row qa_group">
      <dvi class="col text-start">
        <h5 class=" col-12 q">{{ i.questions }}
        </h5>
        <div class="col-12 a">{{ i.answers }}</div>
      </dvi>
    </li>
    {% endfor %}
  </ul>
</div>
<script>
  $('.qa-select-btn').click(function () {
    $('.term_page ul').addClass('onselect');
    // if(qaBtn) {
    //   $('.qa_group [type="checkbox"]').prop("checked", true);
    //   return;
    // }
    // $('.qa_group').toggleClass('selected');
    $('.qa-select-btn').text('全選')
    $('.qa-cancel-btn').toggleClass('show');
    // qaBtn = true;
  })

  $('.qa-cancel-btn').click(function () {
    $('.qa_group [type="checkbox"]').prop("checked", false)
    $('.term_page ul').toggleClass('onselect');
    $('.qa-select-btn').text('選擇')
    $('.qa-cancel-btn').toggleClass('show');
    // $('.qa-delete-btn').removeClass('visible')
    qaBtn = false;
  })
</script>