html {
  box-sizing: border-box;

  body {
    // width: 100vw;
    // height: 100vh;
    background-image: url("../img/img-background.jpeg");
    background-size: cover;
    height: 100vh;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-align: center;
  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

