.default {  
  // &__shade {
  //   background-color: $white;
  //   opacity: 0.6;
  //   position: sticky;
  //   top: 0;
  // }
  // height: 100%;
  // overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    background: $blue; 
  }

  &__serachwrap {
    position: relative;
    margin-bottom: 1.25rem;
    margin: 5px auto;
    text-align: center;
    input {
      border: 0;
      border-bottom: 1px solid $black;
      outline: 0;  
    }
    
    // .js_icons_search {
    //   position: absolute;
    //   top: .4rem;
    //   right: .5rem;
    // }

    
    .add {
      position: absolute;
      top: 0;
      right: calc(2px + 0.6rem);
      cursor: pointer;
    }
  }

  &__main {
    .caption {
      color: white;
      background-color: $blue;
      padding: 2px 10px;
    }
  
    .q {
      cursor: pointer;
    }
  
    li {
      padding: .25rem .75rem;
      &:hover {
        background-color: $light-gray;
      }
    }
  
    .qwrap {
      position: relative;
      padding: .25rem .75rem;
      // textarea {
      //   border : 0;
      //   overflow-y : auto; /* IE */
      //   resize : none; /* Firefox, Chrome */
      // }
      .edit{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: .5rem;
        right: 0;   
        cursor: pointer;
      }
      &:hover {  
        .edit{
          visibility: visible;
          animation: fade-in 600ms ease-in-out forwards;
  
        }
      }
    }
      
    &__qwrap {
      display: none;
  
      .default__a {
        max-width: fit-content;
      }
      &.show {
        display: block;
      }
    }
  
    &__layout {
      margin: 0 10px;
    }
  }
  
}
