<div class="page__question-form">
  <div class="row">
    <div class="col-3 title">HashTag</div>
    <div class="col-6">
      <input type="text" class="layout__tag form-control" />
      {% include 'tools/pad.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-3 title">主題</div>
    <div class="col-6">
      <input type="text" class="layout__question form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-3 title">方法</div>
    <div class="col-6">
      <textarea class="layout__answer form-control" rows="10"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 text-end">
      <a
        href="#"
        class="js_question_add"
        data-target="[.layout__question] [.layout__tag] [.layout__answer]"
        >確定</a
      >
    </div>
  </div>
</div>
