* {
  box-sizing: border-box; }

body {
  font-size: 20px;
  line-height: 1 !important;
  height: 100vh; }
  body ul {
    margin: 0;
    padding: 0; }
  body a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none; }

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/ }

.material-icons.md-18 {
  font-size: 16px; }

main, nav {
  padding: 1rem 1rem; }

main .sidebar .input-item {
  border-radius: 10px;
  border: 1px solid black;
  padding: 8px;
  font-size: 24px; }

main section .operate .confirm {
  margin: 10px;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  background-color: blue;
  color: white; }

@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    margin-bottom: .5rem;
    padding: .8rem; }
  50% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    margin-bottom: .5rem;
    padding: .8rem; }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    margin-bottom: 0px;
    padding: 0px; } }

@keyframes hover-enhence {
  from {
    font-size: 20px; }
  to {
    font-size: 24px; } }

.flex {
  display: flex; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

[draggable="true"] {
  /*
	 To prevent user selecting inside the drag source
	*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

nav {
  text-align: right; }

main {
  height: 80%; }
  main .sidebar {
    white-space: nowrap; }
    main .sidebar .sort {
      width: 100%;
      padding: .8rem; }
      main .sidebar .sort__item {
        position: relative;
        width: 80%;
        margin-bottom: .5rem;
        border: 1px solid black;
        padding: .8rem; }
        main .sidebar .sort__item.hide {
          animation: hide 1s forwards ease-in-out; }
        main .sidebar .sort__item:hover {
          cursor: pointer;
          transform: scale(1.05); }
          main .sidebar .sort__item:hover .icon-delete {
            display: block;
            cursor: pointer; }
        main .sidebar .sort__item .icon-delete {
          display: none;
          color: red;
          position: absolute;
          right: 0;
          padding: 5px; }
  main section {
    height: 80%;
    flex-grow: 1;
    margin: 0 1rem; }
    main section .heading {
      text-align: center;
      margin-top: 0px; }
    main section .tool {
      display: flex;
      align-items: center; }
    main section #content {
      height: 100%;
      white-space: pre-wrap; }
      main section #content textarea {
        width: 100%;
        height: 100%;
        border: 1px solid #d4d4d4;
        border-radius: 5px; }
    main section .operate {
      text-align: right; }
      main section .operate .confirm {
        display: none; }
        main section .operate .confirm.show {
          display: inline-block; }

.drag {
  position: absolute;
  border: 1px solid black;
  padding: 1rem; }

/*# sourceMappingURL=style.css.map */