{% extends 'stock/layout.html' %}
{% load static %} {% load sass_tags %}
{% block css %}
<!-- <link rel="stylesheet" href="{% sass_src 'task/scss/style.scss' %}" type="text/css"> -->
<link rel="stylesheet" href="{% sass_src 'stock/scss/style.scss' %}" type="text/css">
<link rel="stylesheet" href="{% sass_src 'stock/scss/main.scss' %}" type="text/css">
<link rel="stylesheet" href="{% sass_src 'nav.scss' %}" type="text/css">
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block main %}
{% include 'stock/main.html' %}
{% endblock %}

{% block script %}
<script type="module" src="{% static 'stock/js/index.js' %}?version=1"></script>
{% endblock %}