<aside>
    <ul>
        {% for inch in inches %}
        <li>{{ inch }}</li>
        {% endfor %}
    </ul>
</aside>
<section>
    <form action="{% url 'stock:index' %}" method="POST">
        {% csrf_token %}
        {{ form.tire_inch.label }}
        {{ form.tire_inch }}
        <div class="tire">
            
        </div>
        <label>{{ form.spec.label }}</label>
        {{ form.spec }}
        <label>{{ form.quantity.label }}</label>
        {{ form.quantity}}
        <input type="submit" value="新增">
    </form>
    <!-- <div class="tire">
        <ul>
            {% for tire in tires %}
            <li>
                {{ tire.spec }}
                {{ tire.quantity }}
            </li>
            {% endfor%}
        </ul>
    </div> -->
</section>