aside {

}

section {
    .tire {
        ul {
            width: max-content;
            li {
                width: max-content;
                .spec {
                    display: inline-block;
                    width: 85px;
                }
                .quantity {  
                    &::before {
                        
                    }
                }            
            }
        }
    }
}