<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>hello</h1>

    {{ aaa|safe }}
  </body>
</html>

<div class="term">
  <a href="#" class="term__form" data-term="default">新增主題</a>
  {% for category in categorys %}
  <a href="#" class="term__list" data-term="{{ category.terms }}"
    >{{ category.terms|capfirst }}</a
  >
  {% endfor %}
  <a href="#" class="material-icons term__add">add_circle_outline</a>
  <div class="term__input">
    <span class="material-icons close"> close </span>
    <input type="text" class="term__val" />
    <a href="#" id="js_category_add" data-target=".term__val">新增</a>
  </div>
</div>
<div class="layout">
  <div class="default">
    <div class="row">
      <div class="col-3 title">HashTag</div>
      <div class="col-6">
        <input type="text" class="layout__tag form-control" />
        {% include 'tools/pad.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-3 title">主題</div>
      <div class="col-6">
        <input type="text" class="layout__question form-control" />
      </div>
    </div>
    <div class="row">
      <div class="col-3 title">方法</div>
      <div class="col-6">
        <textarea class="layout__answer form-control" rows="10"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3 text-end">
        <a
          href="#"
          class="js_question_add"
          data-target="[.layout__question] [.layout__tag] [.layout__answer]"
          >確定</a
        >
      </div>
    </div>
  </div>
</div>
