{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="{% static 'myptt/js/index.js' %}" defer></script> -->
</head>

<body>
  <!-- <h1>{{ ptt }}</h1> -->
  <form action="{% url 'myptt:index' %}" method="GET">
    <label for="num">搜尋篇數</label><input type="text" name="quantity">
    <input type="submit" value="搜尋">
  </form>
  <div>PTT TIME: {{ time }}</div>
  <div>最新</div>
  <ul>
    {% for post in posts %}
      <li>{{ post.title }}</li>
    {% endfor %}
  </ul>
  
</body>

</html>