@import 'global';

nav {
    margin: 20px auto;
    a {
        padding: 3px 10px;
    }
    .app {
        li {
            display: inline-block;
            &:nth-child(n+2) {
                a {
                    border-left: 1px solid black;
                }
            }
        }
        a {
            width: 5rem;
            text-align: center;
        }
    }
}