@import 'variables';
@import 'global';

nav {
    display: flex;
    padding: 1rem 3rem;
    .app {
        display: flex;
        flex: 1;
        > li {
            a {
                color: $clr-white;
            }
            &:first-child {
                margin-left: auto;
            }
            &:nth-child(n+2) {
              
            }
            &:last-child {
                margin-left: auto;
            }
        }
    }
    a {
        padding: 3px 10px;
    }
}