<div class="close"><span class="material-icons">close</span></div>
<div class="tagwrap">
  <label>HashTag</label>
  <input type="text" class="tag" />
  <div class="pad">{% include 'tools/pad.html' %}</div>
</div>
<div class="qwrap">
  <label>主題</label>
  <input type="text" class="question" />
</div>
<div class="awrap">
  <label>方法</label>
  <textarea class="answer" rows="10"></textarea>
</div>
<div class="insertbtn">
  <a href="#" class="" data-target="[.question] [.tag] [.answer]">確定 </a>
</div>
