<div class="mask"></div>
<div class="close"><span class="material-icons close-icon">close</span></div>
<div class="tagwrap">
  <label>HashTag</label>
  <!-- <div class="test"> -->
    <input type="text" class="tag" />
    <div class="pad">{% include 'tools/pad.html' %}</div>
    <!-- <div class="pad">123</div> -->
  <!-- </div> -->
</div>
  <div class="qwrap">
    <label>主題</label>
    <input type="text" class="question" />
  </div>
  <div class="awrap">
    <label>方法</label>
    <textarea class="answer" rows="10"></textarea>
  </div>
  <div class="insertbtn">
    <a href="#" class="" data-target="[.tag] [.question] [.answer]">確定 </a>
  </div>
</div>
