* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  line-height: 1 !important;
  ul {
    margin: 0;
    padding: 0;
  }
  height: 100vh;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}