aside {
  @extend %flex-col;
  grid-area: as;
  white-space: nowrap;      
  // min-width: 30%;   
  form {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      left: 10px;
      background-color: red;      
      transition: width 500ms;
    }
    &:hover {
      &::before {
        width: 14rem;
      }
    }
  }
  .input-item {
    min-width: 14rem;
    font-size: 1.25rem;
    border: 0;
    // border-left: 5px solid red;
    padding: 10px;
    &::-webkit-input-placeholder {
      font-size: 1rem;
      font-style: italic;  
    }
    &:focus {
      outline: none;
    }
  }
  .sort {             
    padding: .8rem; 
    &__item {
      position: relative;
      margin-bottom: .5rem;
      border: 1px solid $black;
      border-radius: 20px;
      padding: .8rem;
      color: rgba(0, 0, 0, .5);
      &.hide {
        animation: hide 1s forwards ease-in-out;
      } 
      &[data-active],
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        color: rgba(0, 0, 0, 1);
      }
      &:hover .icon-delete {
        display: block;        
      }  
      .icon-delete {
        display: none;
        color: red;
        position: absolute;
        right: 0;
        padding: 5px;         
      }        
    }
  }
}

section {
  grid-area: se;
  // flex-shrink: 1;
  height: 80%;
  flex-grow: 1;
  margin: 0 1rem;
  .heading {
    text-align: center;
    margin-top: 0px;
  }
  .tool {
    display: flex;
    align-items: center;   
  }
  #content {
    height: 100%;
    white-space: pre-wrap;
    font: 15px monospace;
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }
  .operate {
    text-align: right;
    .confirm {
      display: none;
      @extend %button-confirm;
      &.show {
        display: inline-block;
      }
    }
  }
}
