main {
  @extend %layout-padding;
  height: 80%;
  .sidebar {
    // flex-grow: 1;
    // flex-shrink: 3;
    white-space: nowrap;
    .input-item {
      @extend %input-search
    }
    .sort {   
      
      width: 100%;
      padding: .8rem;
      &__item {
        position: relative;
        width: 80%;
        margin-bottom: .5rem;
        border: 1px solid $black;
        padding: .8rem;
        &.hide {
          // animation: hide 2000ms;
        animation: hide 1s forwards ease-in-out;
        } 
        &:hover {
          animation: hover-enhence .2s ease-in-out forwards;
          cursor: pointer;
          .icon-delete {
            display: block;
            cursor: pointer;
          }
        }       
        .icon-delete {
          display: none;
          color: red;
          position: absolute;
          right: 0;
          padding: 5px;         
        }        
      }
    }
  }

  section {
    // flex-shrink: 1;
    height: 80%;
    .heading {
      text-align: center;
      margin-top: 0px;
    }
    .tool {
      display: flex;
      align-items: center;   
    }
    #content {
      height: 100%;
      textarea {
        width: 80%;
        height: 80%;
        border: 1px solid $gray-light;
        border-radius: 5px;
      }
    }
    flex-grow: 1;
    margin: 0 1rem;
  }
}