@import 'reset';
@import 'googleicons.scss';

@import 'variables.scss';
@import 'extends.scss';
@import 'mixins.scss';
@import 'animations.scss';

@import 'global.scss';
@import 'nav.scss';
@import 'main.scss';

.drag {
  position: absolute;
  border: 1px solid black;
  padding: 1rem;
  // padding: 1rem;
}
