/* Table of contents

1. global styles

2. typography

3. components

*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.knowledge__form .tagwrap, .knowledge__form .qwrap, .knowledge__form .awrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  box-sizing: border-box; }
  html body {
    background-image: url("../img/img-background.jpeg");
    background-size: cover;
    height: 100%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

a {
  text-align: center; }
  a:link, a:visited, a:active, a:hover {
    text-decoration: none; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

nav {
  padding: 1rem 1rem; }
  nav a {
    font-size: 36px;
    font-weight: 600;
    color: black; }

.knowledge {
  position: relative;
  max-width: 80%;
  margin: 0 auto; }
  .knowledge::-webkit-scrollbar-thumb {
    background: #3969c0; }
  .knowledge__search {
    position: relative;
    margin-bottom: 1.25rem;
    margin: 5px auto;
    text-align: center; }
    .knowledge__search input {
      border: 0;
      border-bottom: 1px solid black;
      outline: 0; }
    .knowledge__search .add {
      position: absolute;
      top: 0;
      right: calc(2px + 0.6rem);
      cursor: pointer; }
      .knowledge__search .add.open {
        visibility: hidden; }
  .knowledge__main {
    position: relative;
    margin-top: 1rem; }
    .knowledge__main .caption {
      color: white;
      background-color: #3969c0;
      padding: 2px 10px; }
    .knowledge__main .q {
      cursor: pointer; }
    .knowledge__main li {
      padding: .25rem .75rem; }
      .knowledge__main li:hover {
        background-color: #f5f0f0; }
    .knowledge__main .awrap {
      display: none;
      position: relative;
      padding: .25rem .75rem; }
      .knowledge__main .awrap .a {
        max-width: fit-content; }
      .knowledge__main .awrap.show {
        display: block; }
      .knowledge__main .awrap .edit {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: .5rem;
        right: 0;
        cursor: pointer; }
      .knowledge__main .awrap:hover .edit {
        visibility: visible;
        animation: fade-in 600ms ease-in-out forwards; }
    .knowledge__main .qwrap {
      display: none; }
    .knowledge__main .overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f5f0f0;
      opacity: .5; }
      .knowledge__main .overlay.show {
        visibility: visible; }
  .knowledge__form {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 20px;
    max-width: 80%;
    background-color: white; }
    .knowledge__form .close {
      text-align: right; }
    .knowledge__form .tagwrap, .knowledge__form .qwrap, .knowledge__form .awrap {
      margin-bottom: 10px;
      max-width: 90%;
      margin: 0 auto; }
      .knowledge__form .tagwrap label, .knowledge__form .qwrap label, .knowledge__form .awrap label {
        min-width: 5rem;
        text-align: center; }
      .knowledge__form .tagwrap input, .knowledge__form .tagwrap textarea, .knowledge__form .qwrap input, .knowledge__form .qwrap textarea, .knowledge__form .awrap input, .knowledge__form .awrap textarea {
        width: 64rem;
        border: none;
        border-bottom: 1px solid #b3b3b3;
        background: transparent;
        outline: none; }
    .knowledge__form .insertbtn {
      max-width: 90%;
      margin: 0 auto;
      text-align: right;
      margin-top: 5px; }
    .knowledge__form.show {
      display: block; }

.dev {
  position: fixed;
  right: 0.5rem; }
  .dev__mode {
    display: inline-block;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    width: 3rem;
    background-color: #b3b3b3; }
    .dev__mode.active {
      background-color: limegreen; }
      .dev__mode.active svg {
        transform: translateX(1.2rem); }

/* #############
     typography
     ############# */
/* #############
   global styles
   ############# */

/*# sourceMappingURL=style.css.map */