{% extends 'spider/layout.html' %}
{% load static %} {% load sass_tags %}
{% block css %}
<!-- <link rel="stylesheet" href="{% sass_src 'scss/global.scss' %}" type="text/css"> -->
<link rel="stylesheet" href="{% sass_src 'spider/scss/style.scss' %}" type="text/css">
{% endblock %}

{% block nav %}
{% include 'spider/nav.html' %}
{% endblock %}

{% block main %}
{% include 'spider/main.html' %}
{% endblock %}

{% block script %}
<script type="module" src="{% static 'spider/js/index.js' %}?version=1"></script>
{% endblock %}