nav {
  @extend %flex-sb;
  position: relative;
  padding: 1rem 2rem;
  .title {
    font-size: 36px;
    font-weight: 600;
    color: $black;
  }

  .profile {
    display: flex;
    font-size: 24px;
    .circle {
      color: $black;
    }
   
    .pad {
      @extend %flex-column;
      visibility: hidden;      
      margin-right: 5px;
      font-size: 20px;
    }
  }

  .tip {
    position: absolute;
    color: $red;
    left: 50%;
    top: -20px;
 
    // animation-direction: alternate;

    &.run {
      animation-name: show;
      animation-duration: 2s;
    }
  }

  .hide-for-mobile {
    @include breakpoint-down(medium) {
      display: none;
    }
  }
}
