nav {
  @extend %flex-sb;
  padding: 1rem 2rem;
  .title, .circle {
    font-size: 36px;
    font-weight: 600;
    color: $black;
  }

  .profile {
    display: flex;
    .pad {
      @extend %flex-column;
      visibility: hidden;
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
